.kanriTitle {
    color: #797979;
    font-size: 20px;
    font-weight: bold;
}

#loginid {
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-image: none;
    padding-left: 8px;
}

#loginpass {
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-image: none;
    padding-left: 8px;
}

.wapper {
    margin-left: 16px;
}

.container {
    margin-left: 16px;
}