.profile {
}

.profileTitle {
    text-align: center;
    font-size: 70px;
    font-family: 'Fredericka the Great', cursive;
    margin-top: 24px;
    margin-bottom: 24px;
}

.profileStaff {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.profileBox {
    width: auto;
    border: 2px solid #dcdcdc;
    display: flex;
    flex-basis: 45%;
    border-radius: 30px;
    padding: 8px;
    margin: 16px auto;
    padding-right: 10px;
    font-size: 20px;
}

.profileImage {
    margin: 8px;
}

.profileImage img{
    height: 300px;
    width: 280px;
    object-fit: contain;
}

.profileName {
    font-size: 20px;
    font-weight: bold;
}

.spaceright {
    padding-left: 1em;
}