.profile {
    margin-top: 100px;
}

.profileTitle {
    text-align: center;
    font-size: 70px;
    font-family: 'Fredericka the Great', cursive;
}

.profileStaff {
    display: flex;
    flex-wrap: wrap;
}

.profileBox {
    width: auto;
    margin: 0 auto;
    border: 2px solid #dcdcdc;
    display: flex;
    flex-basis: 45%;
    border-radius: 8px;
    padding: 8px;
    margin: 16px;
}

.profileImage {
    margin: 8px;
}

.profileImage img{
    height: 300px;
    width: 280px;
    object-fit: contain;
}

.profileName {
    font-size: 20px;
}

.introduction {

}
