#header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ffff99;
    background-color: #ffffff;
    z-index: 2;
}

.imgBox img{
    width: 124px;
    height: 124px;
    margin-top: 8px;
    object-fit: cover;
    background-color: #006400;
}

.titleBox {
    font-size: 0;
    margin: auto;
    padding-left: 300px;
    position: relative;
}

.titleBox a{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.titleBox a:hover{
    opacity: 0.6;
    filter: alpha(opacity=60);
    -ms-filter: "alpha(opacity=60)";
    background: #fff;
}

.titleContents {
    margin: 0 auto;
}

#blog {
    position: relative;
}

#colorSean {
    color: #dc143c;
    font-size: 20px;
    font-weight: bold;
    /* text-shadow: 1px 1px 0 #000,
                -1px 1px 0 #000,
                1px -1px 0 #000,
                -1px -1px 0 #000; */
}

#colorRed {
    color: #ff0000;
    font-size: 64px;
    font-weight: bold;
}

#colorOrange {
    color: #ffa500;
    font-size: 48px;
    font-weight: bold;
}

#colorGreen {
    color: #006400;
    font-size: 24px;
    font-weight: bold;
}

#colorBrown {
    color: #8b4513;
    font-size: 40px;
    font-weight: bold;
}

.rotate30 {
    display: inline-block;
    transform: rotate(30deg);
}

.overlap {
    margin-left: -10px;
}

.indent {
    vertical-align: bottom;
}

.bx-wrapper {
    margin: 0 auto !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none !important;
    background: none !important;
}

.slider li {
    width: 900px !important;
    height: 600px !important;
    margin: 0;
    padding: 0;
}

.slider li img {
    width: 900px;
    height: 600px;
    object-fit: cover;
}

.menuBar {
    display: flex;
    justify-content: space-around;
}

.menuBar a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.barImg img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.barContents {
    width: 80px;
    font-size: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    margin-top: 10px;
}

.flexBox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px;
    cursor: pointer;
}

.accessButton{
    margin-left: -16px;
}
.background{
    background-color: gold;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
}

.paddingTitle{
    width: 100%;
    height: 97px;
}