#header {
    display: flex;
}

.imgBox img{
    margin-top: -20px;
    width: 200px;
    height: auto;
    object-fit: cover;
    background-color: #006400;
}

.titleBox {
    font-size: 0;
    margin-top: 40px;
    margin-left: 300px;
}

#colorSean {
    color: #dc143c;
    font-size: 20px;
    font-weight: bold;
    /* text-shadow: 1px 1px 0 #000,
                -1px 1px 0 #000,
                1px -1px 0 #000,
                -1px -1px 0 #000; */
}

#colorRed {
    color: #ff0000;
    font-size: 64px;
    font-weight: bold;
}

#colorOrange {
    color: #ffa500;
    font-size: 48px;
    font-weight: bold;
}

#colorGreen {
    color: #006400;
    font-size: 24px;
    font-weight: bold;
}

#colorBrown {
    color: #8b4513;
    font-size: 40px;
    font-weight: bold;
}

.rotate30 {
    display: inline-block;
    transform: rotate(30deg);
}

.overlap {
    margin-left: -10px;
}

.indent {
    vertical-align: bottom;
}

.bx-wrapper {
    margin: 0 auto !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none !important;
    background: none !important;
}

#image-bloc {
    height: 440px;
}

.bx-viewport {
    overflow: visible !important;
    width: 1026px !important;
}

.main-container {
    overflow: hidden;
    padding-bottom: 150px;
}

.slider {
    list-style: none;
    margin: 0;
    padding: 0;
}

.slider li {
    width: 900px !important;
    height: 600px !important;
    margin: 0;
    padding: 0;
}

.slider li img {
    width: 900px;
    height: 600px;
    object-fit: cover;
}