.about{
    height: 600px;
    color: rgba(0, 0, 0, .7);
    font-size: 40px;
    font-family: 'Sawarabi Mincho', sans-serif;
    background-color: rgba(253, 240, 58, 0.3);
    line-height: 1em;
}

.aboutText1{
    margin: 0 auto;
    padding-top: 100px;
    padding-left: 200px;
    animation-name: fadein1;
    animation-duration: 5s;
}
.aboutText2{
    margin: 0 auto;
    padding-top: 100px;
    padding-left: 200px;
    animation-name: fadein2;
    animation-duration: 8s;
}
.aboutText3{
    margin: 0 auto;
    padding-top: 100px;
    padding-left: 200px;
    animation-name: fadein3;
    animation-duration: 10s;
}

@keyframes fadein1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadein2 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadein3 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}